html {
    height: 100%;
    overflow: hidden;
}

#root, body {
    display: flex;
}

#root {
    flex-grow: 1;
}

#root, body {
    min-height: 100%;
}

* {
    font-family: Consolas,monaco,monospace;  
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}